<h1>Edit Task</h1>
<%= form_with model: @task do |f| %>
  <br><%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>
<p><br><%= link_to "Back to list", root_path %></p>
