<h1><%= @task.title %></h1>
<p><%= link_to 'Edit this task', edit_task_path(@task)%></p>
<p><%= @task.details %> </p>
<p> <%= check_box_tag 'checkbox' %> Complete task?</p>
<p><%= link_to "Back to list", root_path %></p>

<% if @task.completed == true %>
  <p><%= "tick" %></p>
<% else %>
  <p><%= "untick" %></p>
  <% end %>
